<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" {% for i, ns in base.ns %}xmlns:{{i}}="{{ns}}" 
    {%endfor%}version="XHTML+RDFa 1.0" xml:lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1"> 

      <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
  </head>
  <body>
      <div data-role="page" id="foo" data-title="Organization">
    {% for row in r.details %}
      {% if row.name.value != null%}
      <div data-role="header">{{row.name.value}}</div>
      {%endif%}
    {%endfor%}
      <ul data-role="listview" data-inset="true" data-theme="d" data-divider-theme="d">
	{% if r.abstracts%}
				<li data-role="list-divider">Abstracts</li> 
    {% for row in r.abstracts %}
				<li><a href='{{row.abstract.value}}'>{{row.title.value}}</a></li> 
    {%endfor%}
       {%endif%}
	{% if r.affiliates %}
	<li data-role="list-divider">Affiliates</li> 
    {%for row in r.affiliates %}
       {% if row.person.value != "" %}
                                <li><a href='{{row.person.value}}'>{{row.name.value}}</a></li> 
       {%endif%}
    {%endfor%}
	{%endif%}
				</ul> 
    </div>
  </body>
</html>
