<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" {% for i, ns in base.ns %}xmlns:{{i}}="{{ns}}" 
    {%endfor%}version="XHTML+RDFa 1.0" xml:lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1"> 

      <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
  </head>
  <body>
      <div data-role="page" id="foo" data-title="Organization">
    {% for row in r.details %}
      {% if row.id.value != null%}
      <div data-role="header">{{row.id.value}}</div>
      {%endif%}
      <ul data-role="listview" data-inset="true" data-theme="d" data-divider-theme="d">
      {% if row.section.value != null%}
      <li data-role="list-divider">Sub-event of</li>
      <li><a href='{{row.section.value}}'>{{row.sectionTitle.value}}</a></li>
      {%endif%}
      {% if r.abstracts %}
      <li data-role="list-divider">Abstracts</li>
      {%for row2 in r.abstracts %}
       {% if row2.abstract.value != null %}
       <li><a href='{{row2.abstract.value}}'>{{row2.title.value}}</a></li>
       {%endif%}
      {%endfor%}
      {%endif%}
      </ul>
      </div>
    {%endfor%}
    </div>
  </body>
</html>
